.verify-email-card {
  width: 100%;
  max-width: 24rem;

  &__header {
    align-items: center;
    text-align: center;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;

    color: var(--primary);
  }
}
