@use '@/styles/mixins' as *;

.checkbox {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  border-radius: var(--radius-sm);
  border: 1px solid var(--primary);
  background: transparent;

  @include focus-ring;
  @include disabled-state;

  &[data-state='checked'] {
    background: var(--primary);
    color: var(--primary-foreground);
  }

  &__indicator {
    @include flex-center;
    color: currentColor;
  }
}
