// FIRST ROW OF ADMIN DASHBOARD

.dashboard_style {
    &> :not(:last-child) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(calc(var(--spacing) * 6) * var(--tw-space-y-reverse));
        margin-block-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse)));
    }
}

.admin_dashboard_stats {
    gap: calc(var(--spacing) * 4);

    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.admin_dashboard_stats_element {
    cursor: pointer;

    &:hover {
        background-color: hsl(var(--muted));
    }
}

.admin_dashboard_stats_element_content {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

// SECOND ROW OF ADMIN DASHBOARD

.admin_dashboard_admin_list_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin_dashboard_admin_list_empty_indicate {
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground));
}

.admin_dashboard_admin_list_nonempty {
    &> :not(:last-child) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(calc(var(--spacing) * 2) * var(--tw-space-y-reverse));
        margin-block-end: calc(calc(var(--spacing) *2) * calc(1 - var(--tw-space-y-reverse)));
    }
}

.admin_dashboard_admin_list_element {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.375rem;
    padding: 0.75rem;

    &:hover {
        background-color: hsl(var(--muted));
    }
}

.admin_dashboard_admin_name {
    font-weight: 500;
}

.admin_dashboard_admin_email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground));
}

.admin_dashboard_admin_right_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin_dashboard_admin_created_at {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground));
}