.admin_users_pagination_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.admin_users_pagination_trigger {
    width: 100px;
}

//text-sm text-muted-foreground
.admin_users_pagecount {
    font-size: var(--text-sm);
    /* 0.875rem (14px) */
    line-height: var(--text-sm--line-height);
    /* calc(1.25 / 0.875) */

    color: hsl(var(--muted-foreground));
}