@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.adminLayout {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    display: none;

    @include respond-up($breakpoint-md) {
      display: block;
    }
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  &__main {
    flex: 1;
    padding: 1rem;
    @include horizontal-scroll;

    @include respond-up($breakpoint-md) {
      padding: 1.5rem;
    }
  }
}
