@use '@/styles/mixins' as *;

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }

  &__link {
    cursor: pointer;
  }

  &__nav {
    gap: 0.25rem;
    span:first-child {
      padding-left: 0.25rem;
    }
  }

  &__ellipsis {
    @include flex-center;
    height: 2.25rem;
    width: 2.25rem;
  }
}
