@use './_variables' as *;
@use './_mixins' as *;

@layer components {
  .student-hero {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-block: 9rem;

    @include respond-up($breakpoint-lg) {
      min-height: 100vh;
      padding-block: 0;
    }
  }

  .student-hero__content {
    text-align: center;

    @include respond-up($breakpoint-lg) {
      padding-bottom: 2rem;
    }
  }

  .student-hero__title {
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: #fff;

    @include respond-up($breakpoint-md) {
      font-size: 3.75rem;
      line-height: 1.25;
    }
  }

  .student-hero__break {
    display: none;

    @include respond-up($breakpoint-md) {
      display: block;
    }
  }

  .student-section {
    padding-block: 2.5rem;

    @include respond-up($breakpoint-md) {
      padding-block: 4rem;
    }
  }

  .student-categories__heading {
    margin-bottom: 3.5rem;

    @include respond-up($breakpoint-lg) {
      margin-bottom: 7rem;
    }
  }

  .student-categories__grid {
    display: grid;
    gap: 2rem;

    @include respond-up($breakpoint-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond-up($breakpoint-lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}